.contenedor-slider{
    width: 100%;
    padding:0;
    margin-top:70px;
   
}

.contenedor-slider-imagenes{
    overflow: hidden;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-imagen{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-imagen h1{
    font-size:50px;
    color: white;
    justify-content:justify;
}


.contenedor-slider img{
    height: 88vh;
    width: 100%;
}

@media (max-width:850px){
    .contenedor-slider img{
        object-fit: cover;
        width: 860px;
    }
}

@media (max-width:750px){
    .contenedor-slider img{
        object-fit: cover;
        width: 700px;
    }
}

@media (max-width:750px){

    .texto-imagen{
        width: 80%;
    }

    .texto-imagen h1{
        font-size:33px;
        text-align: center;
    }
}