.contenedor-slider{
    width: 100%;
    padding:0;
    margin-top:70px;
   
}

.contenedor-slider-imagenes{
    overflow: hidden;
    width: 100%;
}


.contenedor-slider img{
    height: 100%;
    width: 100%;
}

@media (max-width:750px){
    .contenedor-slider{
        height: 25%;
    }

    .contenedor-slider img{
        width: 178%;
    }

}