.contenedor-navbar-principal-administrador{
    width: 100%;
    /* height:75px; */
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    background:#242526;
    overflow:hidden;
    position:fixed;
    top:0;
}


.contenedor-navbar-administrador-boton-expantir{
    display: none;
}

.contenedor-navbar-principal-administrador nav{
    
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    
}

    .contenedor-navbar-administrador-boton{
        display:none;
    }

        .contenedor-navbar-administrador-boton img{
            width: 30px;
        }

    .contenedor-navbar-administrador-logo-texto{
        width: 243px !important;
        height: 75px;
        display:flex;
        flex-flow:row nowrap;
        padding-left: 20px;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }

        .contenedor-navbar-administrador-logo-texto img{
            width: 50px;
            
        }

        .contenedor-navbar-administrador-logo-texto p{
            margin: 0;
            margin-left: 10px;
            height: 75px;
            display:flex;
            font-size: 20px;
            color: white;
            font-weight: bold;
            flex-flow:row nowrap;
            justify-content: center;
            align-items: center;
        }

.contenedor-navbar-administrador-menu-perfil{
    margin-right: 30px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
}

.contenedor-navbar-administrador-boton-expantir{
   
}

    .cuadro-menu-opciones{
        top:-100%;
        padding:10px;
        transition:1.3s;
        right: 30px;
        position: fixed;
        display:flex;
        flex-flow: column nowrap;
        justify-content:flex-start;
        align-items: center;
        width: 370px;
        height:195px;
        border-radius: 7px;
        border:1px solid rgb(46, 46, 46);
        background:#242526;
        overflow:hidden;
    }

    .contenedor-navbar-perfil{
        width: 90%;
        padding:10px;
        display:flex;
        flex-flow: row nowrap;
        justify-content:center;
        align-self: center;
        border-bottom:0.4px solid rgba(255, 255, 255, 0.26);
        padding-bottom: 10px;
        
    }

    .contenedor-navbar-perfil:hover{
        background:#3a3b3c;
        border-radius:6px;
    }

    .contenedor-navbar-perfil img{
        width: 70px;
    }

    .contenedor-datos-perfil{
        width: 100%;
        display:flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: flex-start;
        padding-left: 15px;
       
    }

    .contenedor-datos-perfil h3{
        color:white;
        font-weight: bold;
        font-size:20px;
    }

    .contenedor-datos-perfil h4{
        color:rgb(190, 190, 190);
        font-weight: normal;
        font-size:16px;
        
    }

    .contenedor-navbar-salir{
        width: 90%;
        padding:10px;
        margin-top: 15px;
        display:flex;
        flex-flow: row nowrap;
        justify-content:center;
        align-self: center;
        padding-bottom: 10px;
       
    }

    .btn-salir img{
        width: 30px;
    }

    .contenedor-salir-perfil{
        width: 100%;
        display:flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: flex-start;
        padding-left: 15px;
    }

    .contenedor-navbar-salir:hover{
        background:#3a3b3c;
        border-radius:6px;
        cursor: pointer;
    }

    .contenedor-salir-perfil h3{
        margin-top: 2px;
        color:white;
        font-weight: bold;
        font-size:18px;
    }







    .contenedor-navbar-administrador-menu{
        background:#585c5f;
        height: 40px;
        width: 40px;
        display:flex;
        justify-content:center;
        align-items: center;
        border-radius: 50%;
    }

    .contenedor-navbar-administrador-menu:hover{
        background:#525253;
        cursor: pointer;
    }

    .contenedor-navbar-administrador-menu img{
        width: 12px;
    }

@media (max-width:800px){

    .contenedor-navbar-principal-administrador nav{
    
        justify-content:space-around;
   
    }

    .contenedor-navbar-administrador-boton{
        display:flex;
    }


    .contenedor-navbar-administrador-boton-expantir{
        display: flex;
        
    }

    .contenedor-navbar-administrador-logo-texto img{
        width: 40px;
        
    }

    .contenedor-navbar-administrador-menu-perfil{
        margin-right: 0px;
    }

}

@media (max-width:450px){
    .cuadro-menu-opciones{
        width: 350px;
        right: 10px;
    }

    .contenedor-navbar-administrador-menu{
        height: 44px;
        width: 44px;
    
    }
}

@media (max-width:380px){

    .cuadro-menu-opciones{
        width: 290px;
        height:180px;
    }

    .contenedor-navbar-perfil img{
        width:55px;
    }

    .contenedor-datos-perfil h3{
        font-size:15px;
    }

    .contenedor-datos-perfil h4{
        font-size:15px;
        
    }

    .contenedor-salir-perfil h3{
        font-size:16px;
    }

}

