.contenedor-principal-menu-filtros{
    width:100%;
    height:150px;
    background:#f7f7f9;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 20px;
   
}

    .contenedor-menu-filtros{
        display:flex;
        justify-content:center;
        align-items: center;
        flex-flow: row nowrap;
        width: 100%;
    }

    .contenedor-menu-filtros select{
        width: 190px;
        margin-left: 10px;
        margin-right: 10px;
        height:40px;
        font-size:15px;
        border:none;
        background:white;
        border-radius: 4px;
        text-align-last:center;
        outline:none;
        border:1px solid rgba(0, 0, 0, 0.212);
        
    }

    .contenedor-menu-filtros-selec{
        display:flex;
        flex-flow: row nowrap;
        justify-content:center;
        align-items: center;
    }

    .contenedor-menu-filtros-boton{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-top:20px;
        width: 100%;
    }

    .contenedor-menu-filtros-boton button{
        width: 330px;
        font-size: 16px;
        padding:9px;
        border:none;
        outline: none;
        background:#7388ff;
        color:white;
        border-radius:4px;
    }

    .contenedor-menu-filtros-boton button:hover{
        cursor: pointer;
        background:rgb(114, 152, 255);
    }

@media (max-width:730px){
    .contenedor-principal-menu-filtros{
        height:350px;
        padding-top:0px;
        padding-bottom:0px;
    }

    .contenedor-menu-filtros{
        flex-flow: column nowrap;
    }

    .contenedor-menu-filtros select{
        width: 84%;
        margin-bottom: 20px;
        height:44px;
        font-size:18px;
        border:1px solid rgba(97, 97, 97, 0.171);
    }

    .contenedor-menu-filtros-boton button{
        width: 84%;
        margin-top:-5px;
        padding:11px;
        font-size: 19px;
    }

    .contenedor-menu-filtros-selec{
       width: 86.5%;
       
    }

}