.contenedor-principal-menu-izquierdo{
    width: 243px !important;
    height:90vh;
    display:flex;
    flex-flow: column nowrap;
    padding-top:70px;
    justify-content:flex-start;
    align-items: center;
    background:#242526;
    position:fixed;
    top:75px;
    overflow:hidden;
}

    .contenedor-principal-menu-izquierdo ul{
        width: 100%;
        display:flex;
        flex-flow: column nowrap;
        justify-content:flex-start;
        align-items: center;
    }

    .contenedor-principal-menu-izquierdo ul li{
        width: 100%;
        height:50px;
        display:flex;
        text-align:center;
        justify-content:flex-start;
        align-items: center;
        list-style: none;
        margin-bottom:10px;
     
    }

    .contenedor-principal-menu-izquierdo ul li:hover{
        background:rgba(73, 73, 73, 0.479);
        display:flex;
        justify-content:flex-start;
        align-items: center;
        cursor: pointer;
        
     }

    .contenedor-principal-menu-izquierdo ul li a{
        width: 100%;
       color:rgba(218, 218, 218, 0.918); 
       padding-left: 40px;
       font-size:20px;
       letter-spacing: 1px;
        text-align: left;
    }

    
    
    .active{
        display:flex;
        justify-content:flex-start;
        align-items: center;
        border-left:3px solid yellow;
        text-align: left;
        color:rgb(255, 255, 255) !important;
    }

@media (max-width:800px){
    .contenedor-principal-menu-izquierdo{
        width: 250px !important;
        
    }
}

@media (max-width:500px){
    .contenedor-principal-menu-izquierdo{
        position: absolute;
        z-index: 10;
        left:0;
        transition-duration: 0.7s;
        width: 255px !important;
        
    }

    .contenedor-principal-menu-izquierdo ul li a{
       
        font-size:24px;
      
     }


}