.contenedor-descripcion-principal{
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items: center;
    margin-top:90px;
    height: auto;
}

.contenedor-descripcion-titulo{
    width:100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: flex-start;
    padding-left: 32px;
    padding-bottom: 10px;
}

    .contenedor-descripcion-titulo p{
        margin-top:5px;
        font-size: 20px;
    }

.contenedor-slider-datos{
        width: 65%;      
}


.contenedor-slider-contacto{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    align-items: flex-start;
    overflow: hidden;
    padding:10px;
    margin-top:-30px;
}

.contenedor-slider-caracteristicas{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 590px;
    overflow: hidden;
}

    .contenedor-descripcion-slider{
        width: 100%;
        border:1.3px solid rgba(0, 0, 0, 0.055);
        border-radius:3px;
 
    }

    .image-gallery-thumbnails-container{
        height:100px;
        display:flex;
        flex-flow: row nowrap;
        justify-content:center;
        align-items:flex-start;
     
    }

    .contenedor-descripcion-caracteristicas{
        margin-top:30px;
        overflow: hidden;
    }

.contenedor-detalles-venta{
    padding:20px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

    .contenedor-precio-predio h3{
        font-weight: normal;
        font-size: 20px;
    }

    .contenedor-id-tipo-venta{
        display: flex;
        justify-items: center;
        align-items:flex-end;
        flex-flow: column nowrap;
    }

    .contenedor-id-tipo-venta p{
        margin-bottom: 10px;
    }

    .contenedor-id-tipo-venta h4{
        font-weight: normal;
        width: 110px;
        padding:3px;
        text-align: center;
        border-radius: 2px;
        color:white;
        background:rgba(21, 102, 61, 0.719);
        font-size:16px;
    }
    
    .contenedor-datos-predio{
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items:center;
        
    }

    .cuadrado-datos{
        border:1.3px solid rgba(0, 0, 0, 0.055);
        width: 194px;
        display:flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: center;
        overflow: hidden;
    }

    .contenedor-imagen-predio-datos img{
        padding:1px;
        width: 35px;
    }

    .contenedor-datos-texto-predio{
        width: 100%;
        display:flex;
        flex-flow:column nowrap;
        justify-content:center;
        align-items: center;
    }

    .contenedor-datos-texto-predio h4{
        font-weight: normal;
        font-size:15px;
    }

.contenedor-detalles-general-predio{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: flex-start;
    margin-top:30px;
    margin-bottom: 20px;
  
}
    .contenido-detalles-predio{
        width: 100%;
        display:flex;
        justify-content:flex-start;
        align-items:center;
        margin-bottom: 20px;
        border-bottom:1.3px solid rgba(0, 0, 0, 0.055);
        padding-bottom: 20px;
        padding-left:10px;
    }

        .contenido-detalle-predio{
            width: 20%;
        }
            .contenido-detalle-predio h3{
                font-size: 17px;
            }

        .contenido-caracteristicas-predio{
            width: 55%;
            margin-left: 180px;
        }

            .contenido-caracteristicas-predio ul{
                list-style: none;
            }
                .contenido-caracteristicas-predio ul li{
                    font-size: 16px;
                }

.contenedor-mapa-desc-propiedad{
    overflow: hidden;
    width: 100%;
}

.contenedor-mapa-desc-propiedad iframe{
    width: 100%;
}


    .contenedor-descripcion-contacto{
        width: 30%;
      
        display:flex;
        flex-flow: column nowrap;
        justify-content:flex-start;
        align-items: center;
        border:1.3px solid rgba(0, 0, 0, 0.055);
        border-radius:3px;
        padding-left:35px;
        padding-right:35px;
        padding-top:25px;
        padding-bottom:25px;
        overflow:hidden;
    }

.contenedor-descripcion-contacto form {
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items: center;
}


.contenedor-descripcion-contacto form label{
    font-size:20px;
    margin-bottom:28px;
}

.contenedor-descripcion-contacto form img{
    width: 60px;
}

.contenedor-descripcion-contacto form img{
    margin-bottom:28px;
}

.contenedor-nombre-telefono{
    margin-bottom:25px;
    display:flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
}
    .contenedor-nombre-telefono h3{
        margin-bottom:10px;
        font-weight: normal;
        font-size: 19px;
    }

    .contenedor-nombre-telefono a{
        font-size: 18px;
    }
    .contenedor-nombre-telefono a:hover{
        color:rgb(84, 84, 243);
    }

    .contenedor-nombre-telefono i{
        margin-right:5px;
        font-size: 17px;
    }

   

.contenedor-descripcion-contacto form input{
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: rgb(100, 100, 100);
    border-radius: 4px;
    padding:5px;
    border:1px solid rgba(0, 0, 0, 0.219);
    outline: none;
    margin-bottom:13px;
}

.contenedor-descripcion-contacto form textarea{
    width: 100%;
    font-size: 15px;
    color: rgb(100, 100, 100);
    border-radius: 4px;
    padding:5px;
    border:1px solid rgba(0, 0, 0, 0.219);
    outline: none;
    margin-bottom:13px;
}

.contenedor-descripcion-contacto form input[type="submit"]{
    background:#7388ff;
    color:white;
    font-size: 20px;
    height: 39px;
}

.contenedor-descripcion-contacto form input[type="submit"]:hover{
    background:rgb(114, 152, 255);
    cursor: pointer;
}

.contenedor-principal-descripcion{
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items: center;
    margin-bottom:20px;
}





@media (max-width: 900px){
    .contenedor-descripcion-titulo{
        padding-left: 12px;
    }
    .contenedor-slider-contacto{
        flex-flow: column nowrap;
        justify-content:center;
        align-items: center;
        padding:2px;
    }

    .contenedor-slider-caracteristicas{
        width: 100%;
        height:auto;
        margin-bottom:20px;
    }
  

    .contenedor-descripcion-contacto{
        width: 95%;
        height:auto;
    }

    .contenedor-slider-datos{
        width: 95%;
        height:auto;
    }   

    .contenedor-datos-predio{
        margin-bottom:20px;
    }

}

@media (max-width:600px){
    .contenedor-descripcion-titulo h1{
        font-size: 33px;
    }

    .contenedor-slider-contacto{
        margin-top:-10px;
    }
    
    .contenedor-descripcion-titulo p{
        width: 100%;
        font-size:21px;
    }

    .image-gallery-thumbnails-container{
        height:65px;
    }

    .contenedor-imagen-predio-datos img{
        width: 32px;
    }

    .contenedor-datos-texto-predio h4{

    }

    .contenedor-descripcion-contacto{
        margin-top: 20px;
        padding-left:10px;
        padding-right:10px;
        padding-top:px;
        padding-bottom:25px;

    }

    .contenedor-descripcion-contacto form input{
        height: 47px;
        font-size: 18px;
    }
    
    .contenedor-descripcion-contacto form textarea{
        font-size: 18px;
    }
    
    .contenedor-descripcion-contacto form input[type="submit"]{
        font-size: 25px;
        height: 50px;
    }

    .contenido-caracteristicas-predio{
        margin-left: 100px;
    }
    
}

@media (max-width:435px){
    .contenedor-datos-texto-predio h4{
        font-size: 13px;
    }
}

@media (max-width:360px){
    .contenedor-datos-texto-predio h4{
        font-size: 11px;
    }
}